body, html {
  height: 100%;
  background-color: #fae3d9 !important;
}

.placemat {
  background-color: #fff3e6 !important;
  color: #c1a1d3;
}

.square {
  width: 50% !important;
}

.square:after {
  content: "" !important;
  display: inline-block !important;
}

.container{
  background-color: #1a508b;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
  z-index: 1;
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.btn-primary {
  background-color: #c1a1d3;
  border-color: #c1a1d3;
}

.btn-primary:hover {
  background-color: #9B59B6;
  border-color: #9B59B6;
}