{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Time Tool{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if g.user %}
        <h5>User {{ g.user['username'] }} is checked {{ g.user['status'] }}</h5>
        <h5>Week: {{ g.user['start'] }} to {{ g.user['end'] }}</h5>
        <h5>Hours this week: {{ g.user['hours'] }}</h5>
        <br>
        {% if g.user['status'] == 'in' %}
            <a class="btn btn-primary text-center" href="{{ url_for('check_out', uid=g.user['_id']) }}">Check out</a>
        {%  else %}
            <a class="btn btn-primary text-center" href="{{ url_for('check_in', uid=g.user['_id']) }}">Check in</a>
        {% endif %}
        <br><br>
        <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
        <p></p>
        <a class="btn btn-primary" style="margin-right: 1rem;" href="{{ url_for('auth.login') }}">Log In</a>
        <a class="btn btn-primary" style="margin-left: 1rem;" href="{{ url_for('auth.sign_up') }}">Register</a>
    {% endif %}
{% endblock %}