<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} TimeTool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
<div class="jumbotron vertical-center">
    <div class="container text-center square">
        <div>
            <h1 style="padding-bottom: 1rem; display: inline">Time Tool</h1>
            <section class="content">
                <header>
                    {% block header %}{% endblock %}
                </header>
                {% block content %}{% endblock %}
            </section>
            {% if g.user %}
                <h5>Logged in as {{ g.user['username'] }}</h5>
                <a class="btn btn-primary" href="{{ url_for('auth.logout') }}"">Log Out</a>
            {% else %}
                <p></p>
                <a class="btn btn-primary" style="margin-right: 1rem;" href="{{ url_for('auth.login') }}">Log In</a>
                <a class="btn btn-primary" style="margin-left: 1rem;" href="{{ url_for('auth.add_user') }}">Register</a>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>